[user]
    name = Alan Cutter
    email = alancutter@chromium.org
[core]
    autocrlf = false
    filemode = false
    deltaBaseCacheLimit = 1G
[alias]
    a = apply
    aa = add --all .
    aarbc = !git add --all && git rebase --continue
    ab = archive-branches
    b = branch
    bd = branch -D
    bm = branch -m
    bsut = branch --set-upstream-to
    bsutom = branch --set-upstream-to origin/master
    bu = branch-uploaded
    caa = commit -a --amend --no-edit
    caam = commit -a --amend -m
    cam = commit -a -m
    camb = !git commit -a -m 'Branch: '$(git current-branch)
    cdf = clean -df
    cf = clean -f
    clf = cl format --js
    clp = cl presubmit --force
    clu = cl upload
    cm = commit -m
    cmb = !git commit -m 'Branch: '$(git current-branch)
    co = checkout
    cob = checkout -t origin/master -b
    cod = !git checkout $(git downstream-branch)
    coh = checkout HEAD
    com = checkout origin/master
    comb = !git checkout $(git merge-base @{u} HEAD)
    conflicts = diff --name-only --diff-filter=U
    cou = checkout @{u}
    cpc = cherry-pick --continue
    current-branch = symbolic-ref --short HEAD
    d = diff
    db = downstream-branch
    dc = diff --color=auto
    dcc = diff --color=auto --cached
    dch = diff --color=auto HEAD
    dchno = diff --color=auto HEAD --name-only
    dchns = diff --color=auto HEAD --name-status
    dcm = diff --color=auto origin/master
    dcmb = !git diff --color=auto $(git merge-base @{u} HEAD)
    dcmno = diff --color=auto origin/master --name-only
    dcmns = diff --color=auto origin/master --name-status
    dcns = diff --color=auto --name-status
    dcu = diff --color=auto @{u}
    dcuno = diff --color=auto @{u} --name-only
    dcuns = diff --color=auto @{u} --name-status
    dd = describe --dirty
    dw = diff --color-words
    dwh = diff --color-words HEAD
    dwm = diff --color-words origin/master
    dwu = diff --color-words @{u}
    f = fetch
    fa = fetch alancutter
    fo = fetch origin
    g = grep
    gpc = grep -n --color=auto
    h = help
    lc = log --color=auto
    lc1 = log --color=auto -1
    lgc = log --graph --color=auto
    lpc = log -p --color=auto
    lpc1 = log -p --color=auto -1
    lpc1no = log -p --color=auto -1 --name-only
    lpc1ns = log -p --color=auto -1 --name-status
    lpcns = log -p --color=auto --name-status
    lpgc = log -p --graph --color=auto
    lpgcns = log -p --graph --color=auto --name-status
    ma = merge --abort
    mb = map-branches -v
    mbom = merge-base origin/master
    mbomh = merge-base origin/master HEAD
    p = push
    pf = push -f
    pa = push alancutter
    pfa = push -f alancutter
    po = push origin
    pom = push origin master
    prr = pull-request-range
    rb = rebase --strategy-option=no-renames
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --strategy-option=no-renames --interactive
    rbicd = !git rebase --strategy-option=no-renames -i $(git current-branch) $(git downstream-branch)
    rbiom = rebase --strategy-option=no-renames --interactive origin/master
    rbs = rebase --skip
    rbu = rebase-update --no-fetch
    rh = reset --hard
    rhd = !git reset --hard $(git downstream-branch)
    rhom = reset --hard origin/master
    rhu = reset --hard @{u}
    rl = reflog
    rlc = rev-list --count
    rs = reset --soft
    rsd = !git reset --soft $(git downstream-branch)
    rsom = reset --soft origin/master
    rsu = reset --soft @{u}
    s = stash
    sa = stash apply
    sb = squash-branch
    sd = stash drop
    sl = stash list
    sp = stash pop
    sr = squash-rebase
    srh = submodule foreach --recursive git reset --hard
    ss = stash show -p
    st = status
    sur = submodule update --recursive
    t = tag
    td = tag -d
    tn1 = tag -n1
    tv = tag -v
    ub = upstream-branch
[push]
    default = current
[http]
	cookiefile = /usr/local/google/home/alancutter/.gitcookies
[advice]
	detachedHead = false
