[user]
    name = Alan Cutter
    email = alancutter@chromium.org
[core]
    autocrlf = false
    filemode = false
    deltaBaseCacheLimit = 1G
[alias]
    a = apply
    aa = add --all .
    aarbc = !git add -A && git rebase --continue
    ab = archive-branches
    ai = add -i
    b = branch
    bd = branch -D
    bm = branch -m
    bs = bisect
    bsut = branch --set-upstream-to
    bsutom = branch --set-upstream-to origin/master
    bu = branch-uploaded
    ca = commit -a
    caa = commit -a --amend --no-edit
    cam = commit -a -m
    cb = symbolic-ref --short HEAD
    cdf = clean -df
    cf = clean -f
    clf = cl format
    clu = cl upload --no-find-copies --gerrit
    cm = commit -m
    cma = commit -m '' --amend
    co = checkout
    cob = checkout -t origin/master -b
    cod = !git checkout $(git downstream-branch)
    coh = checkout HEAD
    com = checkout origin/master
    conflicts = diff --name-only --diff-filter=U
    cou = checkout @{u}
    current-branch = symbolic-ref --short HEAD
    d = diff
    db = downstream-branch
    dc = diff --color=auto
    dcc = diff --color=auto --cached
    dch = diff --color=auto HEAD
    dchns = diff --color=auto HEAD --name-status
    dcm = diff --color=auto origin/master
    dcmns = diff --color=auto origin/master --name-status
    dcns = diff --color=auto --name-status
    dcu = diff --color=auto @{u}
    dcuns = diff --color=auto @{u} --name-status
    dd = describe --dirty
    dw = diff --color-words
    dwh = diff --color-words HEAD
    dwm = diff --color-words origin/master
    dwu = diff --color-words @{u}
    f = fetch --prune
    fa = fetch --prune alancutter
    fo = fetch --prune origin
    gpc = grep -n --color=auto
    h = help
    lc = log --color=auto
    lc1 = log --color=auto -1
    lgc = log --graph --color=auto
    lpc = log -p --color=auto
    lpc1 = log -p --color=auto -1
    lpc1ns = log -p --color=auto -1 --name-status
    lpcns = log -p --color=auto --name-status
    lpgc = log -p --graph --color=auto
    lpgcns = log -p --graph --color=auto --name-status
    mb = map-branches -v
    ms = merge --squash
    p = push
    pf = push -f
    pa = push alancutter
    pfa = push -f alancutter
    po = push origin
    pom = push origin master
    prr = pull-request-range
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbicd = !git rebase -i $(git current-branch) $(git downstream-branch)
    rbiom = rebase --interactive origin/master
    rbom = rebase origin/master
    rbs = rebase --skip
    rbu = rebase-update --no-fetch
    rh = reset --hard
    rhom = reset --hard origin/master
    rhu = reset --hard @{u}
    rl = rev-list
    rl1 = rev-list -1
    rlc = rev-list --count
    rs = reset --soft
    rsom = reset --soft origin/master
    rsu = reset --soft @{u}
    s = stash
    sa = stash apply
    sb = squash-branch
    sd = stash drop
    sl = stash list
    sp = stash pop
    sr = squash-rebase
    srh = submodule foreach --recursive git reset --hard
    ss = stash show -p
    st = status
    sur = submodule update --recursive
    t = tag
    td = tag -d
    tn1 = tag -n1
    tv = tag -v
    ub = upstream-branch
[push]
    default = simple
[http]
    cookiefile = /usr/local/google/home/alancutter/.gitcookies
